<div>
    <p-card
      class="cardMain"
      header="{{ movies.Title }}"
      subheader="{{ movies.Type }}"
      [style]="{ width: '360px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="cImg" alt="Card" [src]="movies.Poster" />
      </ng-template>
      <p>{{movies.date}}</p>
      <ng-template pTemplate="footer">
        <p-button
          class="d-flex justify-content-center"
          styleClass="p-button-lg p-button-danger"
          label="Return"
          icon="pi pi-trash"
         (click)="returnMovie(movies.key,movies.id)"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
