.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
 

}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
mat-card{
  width: 50%;
  background-color:#262625;
  color: white;
  border-radius: 3%
}

mat-card-content{
  justify-content: center;
  align-items: center;
  display :flex;

}
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #f44336;
  width: 100%;
}

mat-card-title{
  justify-content: center;
  align-items: center;
  display :flex;
}
.footer{
  justify-content: left;
  display :flex; 
}
.footer-text{
  margin-top: 10px;
}