<body>
  <div>
    <p-card
      class="cardMain"
      header="{{ movie.Title }}"
      [style]="{ width: '360px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img
          class="cImg"
          alt="Card"
          [src]="movie.Poster"
          (click)="showDialog()"
        />
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button
          class="d-flex justify-content-center w-100"
          styleClass="p-button-lg p-button-warning w-100"
          label="{{'rent' | translate}}"
          (click)="Rent(movie, movie.key)"
          icon="pi pi-plus"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <app-dialog [display]="display" [movie]="movie"></app-dialog>
</body>


