<body>
  <div>
    <p-card
      class="cardMain"
      header="{{ movies.Title }}"
      [style]="{ width: '360px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img
          class="cImg"
          alt="Card"
          [src]="movies.Poster"
          (click)="showDialog(movies.imdbID); searchByKeyword(movies.Title)"
        />
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button
          class="d-flex justify-content-center w-100"
          styleClass="p-button-lg p-button-warning w-100"
          label="{{'rent' | translate}}"
          (click)="Rent(movies, movies.key)"
          icon="pi pi-plus"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <app-dialog [display]="show" [details]="details" [response]="response" [Rent]="Rent"></app-dialog>
</body>


