<div >
  <p-menubar [model]="items" *ngIf="(afAuth.user | async)">
    <ng-template pTemplate="start">
      <h2>FILMOTEKA</h2>
    </ng-template>
    <ng-template pTemplate="end">
      <button
      *ngIf="(afAuth.user | async)"
        pButton
        label="Logout"
        class="p-button-raised p-button-rounded"
        class="p-button-danger"
        (click)="logout()"
      ></button>
      <button
      *ngIf="isAdmin"
        pButton
        label="admin radi"
        class="p-button-raised p-button-rounded"
        class="p-button-danger"
       
      ></button>
    </ng-template>
  </p-menubar>

  
</div>