
  <div>
    <p-card
      class="cardMain"
      [style]="{ width: '360px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="cImg" alt="Card" [src]="movie.Poster" (click)="showDialog()" />
      </ng-template>
  
     
        <p-button
        class="d-flex justify-content-center"
          styleClass="p-button-lg p-button-primary w-100"
          label="Add movie"
        (click)="pushMovie(movie,movie.imdbID)"
      ></p-button>
   
     
    </p-card> 
    <!-- <app-dialog [display]="display" [movie]="movie"></app-dialog> -->

  </div>
