<div class="row">

  <h1 class="corouselTitle">{{'admin.nonRented' | translate | uppercase}}</h1>
  <hr>
  <ng-container *ngFor="let movie of unrentedMovies">
    <app-admin-db-list-item
      class="d-flex justify-content-center col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12" [movie]="movie">
    </app-admin-db-list-item>
  </ng-container>
  <hr>
  <h1 class="corouselTitle">{{'admin.rented' | translate | uppercase}}</h1>
  <hr>
  <ng-container *ngFor="let movie of rentedMovies">
    <app-admin-db-list-item
      class="d-flex justify-content-center col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-xs-12" [movie]="movie">
    </app-admin-db-list-item>
  </ng-container>
</div>