/* You can add global styles to this file, and also import other style files */
app-footer{
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

app-admin{
    width: 100%;
    left: 0;
    top: 10;
}

/*     Card design        */
.cImg{
    height:500px;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.cImg:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1)
}

.cardMain{
    padding:20px;
    margin: 50px;
}

body{
    background-color: #141414;
    color: #fff;

}
.form-container{
    display: block;
    max-width: 300px;
    margin: auto;


    background:#D9D9D9;
    padding:48px;
    border-radius: 16px;


}
.form-container mat-form-field{
    width: 100%;
}
.center {
    display:flex;
    justify-content: center;
}


html, body, app-root {

    margin: 0;
    }


    .inventory-body {

        background-image: url("src\assets\images\filmoteka-background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        }
        
.corouselTitle {
            width: 100%;
            color: red;
            font-weight: 840;
            font-size: 32pt;
            text-align: center;
          } 